{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Apply Clearance {% endblock title %}

{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% block nav %}{% include 'partials/auth_nav.html' %}{% endblock nav %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'partials/auth_sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% include "partials/messages.html" %}

          <div class="row">
            <div class="col.lg-12 grid-margin">

            </div>
          </div>

          <div class="row">


            {% if not has_applied %}

            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Clearance Requirements</h4>
                  <p class="card-description">
                    adhere to the requirements <code>carefully</code> clearance process is from the
                  </p>
                  <p class="text-danger"><b>Library office</b> > <b>Hostel office</b> > <b>Sport office</b> > <b>Internal Audit</b> > <b>Departmental offices</b></p>
                  <p>Ensure you have:</p>
                  <ol>
                    <li>Updated your profile passport </li>
                    <li>Your (ND/HND) department clearance Year 1 & 2</li>
                    <li>Your School Fees Receipt for Year 1 & 2</li>
                    <li>Your Remita of School Fees Receipt for Year 1 & 2</li>
                    <li>Your School ID card</li>
                  </ol>

                  <p>if you have the above click the button below to start clearance process</p>

                  <button type="button" class="btn rounded-pill btn-primary" data-toggle="modal"
                  data-target="#single">
                    <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; Start Your Clearance
                  </button>
                </div>
              </div>
            </div>
            {% else %}

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Clearance Progress</h4>
                  <p class="card-description">
                    view the progress of your <code>clearance</code> application
                  </p>


                  <p>Your current completed clearance office is: </p>

                  <p class="text-danger"><b>
                    {% if clearance.departmental_clearance.is_cleared %}
                    Clearance completed
                  {% elif clearance.internal_audit_clearance.is_cleared %}
                  Internal Audit Office
                  {% elif clearance.sport_clearance.is_cleared %}
                  Sport Office
                  {% elif clearance.hostel_clearance.is_cleared %}
                  Hostel Office
                  {% else %}
                  Library Office
                  {% endif %}</b></p>

                  <div class="row mt-3">

                    <div class="col-sm-12 col-md-3">
                      <div class="card">
                        <div class="card-body text-center">
                          <h4 class="card-title">Library Office </h4>
                          {% if clearance.library_clearance.is_cleared %}
                          <img src="{% static 'img/approval.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">Approved</h6>
                          {% elif clearance.library_clearance.is_disapprove %}
                          <img src="{% static 'img/cancel.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">disapproved</h6>
                          <button type="button" class="btn rounded-pill btn-success btn-sm" data-toggle="modal"
                                data-target="#approve">View Reason
                          </button>
                          <!-- Modal Student -->
                          <div class="modal fade" id="approve" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Reason for disapproval</h5>
                                  <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    reasons for <code>disapproval</code> is highlighted below
                                    <br>
                                    <br>
                                    <p class="text-left">You are <code>owing</code> the school the following items:</p>

                                    <ol class="text-left">

                                      {% if clearance.library_clearance.number_of_book_owe_departmental %}

                                      <li class="text-left">Number of books owed at the departmental library: &nbsp;&nbsp;&nbsp; <b>{{clearance.library_clearance.number_of_book_owe_departmental}}</b> </li>
                                      <li class="text-left">Cost of books owed at the departmental library: &nbsp;&nbsp;&nbsp;<b>₦{{clearance.library_clearance.cost_of_book_owe_departmental}}</b> </li>
                                      {% endif %}

                                      {% if clearance.library_clearance.number_of_book_owe_main %}

                                      <li class="text-left">Number of books owed at the main library: &nbsp;&nbsp;&nbsp;<b>{{clearance.library_clearance.number_of_book_owe_main}}</b> </li>
                                      <li class="text-left">Cost of books owed at the main library: &nbsp;&nbsp;&nbsp;<b>₦{{clearance.library_clearance.cost_of_book_owe_main}}</b> </li>
                                      {% endif %}

                                    </ol>
                                    <b class="text-left">NB: Kindly visit the school <code>library</code> for rectification, clearance has been precluded from other offices</b>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                  </div>
                              </div>
                            </div>
                          </div>
                          {% else %}
                          <img src="{% static 'img/pending.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">pending approval</h6>
                          {% endif %}
                        </div>
                      </div>
                    </div>


                    {% if clearance.library_clearance.is_cleared %}

                    <div class="col-sm-12 col-md-3">
                      <div class="card">
                        <div class="card-body text-center">
                          <h4 class="card-title">Hostel Office </h4>
                          {% if clearance.hostel_clearance.is_cleared %}
                          <img src="{% static 'img/approval.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">Approved</h6>
                          {% elif clearance.hostel_clearance.is_disapprove %}
                          <img src="{% static 'img/cancel.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">disapproved</h6>
                          <button type="button" class="btn rounded-pill btn-success btn-sm" data-toggle="modal"
                                data-target="#hostel">View Reason
                          </button>
                          <!-- Modal Student -->
                          <div class="modal fade" id="hostel" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Reason for disapproval</h5>
                                  <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    reasons for <code>disapproval</code> is highlighted below
                                    <br>
                                    <br>
                                    <p class="text-left">You are <code>owing</code> the hostel the following items:</p>

                                    <ol class="text-left">

                                      <li class="text-left">Number of hostel items owed: &nbsp;&nbsp;&nbsp; <b>{{clearance.hostel_clearance.number_of_hostel_items_owed}}</b> </li>
                                      <li class="text-left">Cost of hostel items owed: &nbsp;&nbsp;&nbsp;<b>₦{{clearance.hostel_clearance.cost_of_hostel_items_owed}}</b> </li>

                                    </ol>
                                    <b class="text-left">NB: Kindly visit the school <code>hostel</code> for rectification, clearance has been precluded from other offices</b>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                  </div>
                              </div>
                            </div>
                          </div>
                          {% else %}
                          <img src="{% static 'img/pending.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">pending approval</h6>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    {% endif %}

                    {% if clearance.hostel_clearance.is_cleared %}

                    <div class="col-sm-12 col-md-3">
                      <div class="card">
                        <div class="card-body text-center">
                          <h4 class="card-title">Sport Office </h4>
                          {% if clearance.sport_clearance.is_cleared %}
                          <img src="{% static 'img/approval.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">Approved</h6>
                          {% elif clearance.sport_clearance.is_disapprove %}
                          <img src="{% static 'img/cancel.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">disapproved</h6>
                          <button type="button" class="btn rounded-pill btn-success btn-sm" data-toggle="modal"
                                data-target="#hostel">View Reason
                          </button>
                          <!-- Modal Student -->
                          <div class="modal fade" id="hostel" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Reason for disapproval</h5>
                                  <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    reasons for <code>disapproval</code> is highlighted below
                                    <br>
                                    <br>
                                    <p class="text-left">You are <code>owing</code> the sport office the following items:</p>

                                    <ol class="text-left">

                                      <li class="text-left">Number of sport items owed: &nbsp;&nbsp;&nbsp; <b>{{clearance.sport_clearance.number_sport_items_owed}}</b> </li>
                                      <li class="text-left">Cost of sport items owed: &nbsp;&nbsp;&nbsp;<b>₦{{clearance.sport_clearance.cost_of_sport_items_owed}}</b> </li>

                                    </ol>
                                    <b class="text-left">NB: Kindly visit the school <code>sport </code>office for rectification, clearance has been precluded from other offices</b>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                  </div>
                              </div>
                            </div>
                          </div>
                          {% else %}
                          <img src="{% static 'img/pending.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">pending approval</h6>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    {% endif %}

                    {% if clearance.sport_clearance.is_cleared %}

                    <div class="col-sm-12 col-md-3">
                      <div class="card">
                        <div class="card-body text-center">
                          <h4 class="card-title">Inter Audit Office </h4>
                          {% if clearance.internal_audit_clearance.is_cleared %}
                          <img src="{% static 'img/approval.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">Approved</h6>
                          {% elif clearance.internal_audit_clearance.is_disapprove %}
                          <img src="{% static 'img/cancel.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">disapproved</h6>
                          <button type="button" class="btn rounded-pill btn-success btn-sm" data-toggle="modal"
                                data-target="#internal">View Reason
                          </button>
                          <!-- Modal Student -->
                          <div class="modal fade" id="internal" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Reason for disapproval</h5>
                                  <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                  </button>
                                </div>
                                <div class="modal-body text-left">
                                    reasons for <code>disapproval</code> is highlighted below
                                    <br>
                                    <br>
                                    <p class="text-left"><b >{{clearance.internal_audit_clearance.disapproval_reason}}</b></p>

                                    <p class="text-left">Kindly re-upload all <code>document</code> using the form below</p>
                                    <form action="" method="post" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      {{ form|crispy }}
                                      <button type="submit" name="re-upload" class="btn btn-success">Submit</button>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                  </div>
                              </div>
                            </div>
                          </div>
                          {% else %}
                          <img src="{% static 'img/pending.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">pending approval</h6>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    {% endif %}

                    {% if clearance.internal_audit_clearance.is_cleared %}

                    <div class="col-sm-12 col-md-3 mt-3">
                      <div class="card">
                        <div class="card-body text-center">
                          <h4 class="card-title">Departmental Office </h4>
                          {% if clearance.departmental_clearance.is_cleared %}
                          <img src="{% static 'img/approval.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">Approved</h6>
                          {% elif clearance.departmental_clearance.is_disapprove %}
                          <img src="{% static 'img/cancel.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">disapproved</h6>
                          <button type="button" class="btn rounded-pill btn-success btn-sm" data-toggle="modal"
                                data-target="#department">View Reason
                          </button>
                          <!-- Modal Student -->
                          <div class="modal fade" id="department" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Reason for disapproval</h5>
                                  <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    reasons for <code>disapproval</code> is highlighted below
                                    <br>
                                    <br>
                                    <p class="text-left">{{clearance.departmental_clearance.disapproval_reason}}</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                  </div>
                              </div>
                            </div>
                          </div>
                          {% else %}
                          <img src="{% static 'img/pending.png' %}" alt="" width="100">
                          <h6 class="text-dark font-weight-bold">pending approval</h6>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    {% endif %}




                  </div>

                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% block footer %}{% include 'partials/auth_footer.html' %}{% endblock footer %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

    <!-- Modal Student -->
    <div class="modal fade" id="single" style="display: none;" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Begin Clearance</h5>
            <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
            </button>
          </div>
          <form method="POST" enctype="multipart/form-data">
            <div class="modal-body">
              Fill the form below to begin the clearance<code>process</code>
              {{ form|crispy }}
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                {% csrf_token %}
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>


{% include 'partials/modal_logout.html' %}
{% block script %}{% include 'partials/auth_script.html' %}{% endblock script %}

{% endblock body %}
