{% load static %}

  <!-- base:js -->
  <script src="{% static 'backend/vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'backend/js/off-canvas.js' %}"></script>
  <script src="{% static 'backend/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'backend/js/template.js' %}"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="{% static 'backend/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'backend/vendors/jquery-bar-rating/jquery.barrating.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{% static 'backend/js/dashboard.js' %}"></script>
  <script src="{% static 'backend/js/close.js' %}"></script>
  <!-- End custom js for this page-->