{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
      <div class="user-image">
        <img src="{{ request.user.passport.url }}">
      </div>
      <div class="user-name">
          {{ request.user.name }}
      </div>
      <div class="user-designation">
          {{ request.user.user_type }}
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth:dashboard' %}">
          <i class="icon-box menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Students</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Create Student</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Manage Student</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-office" aria-expanded="false" aria-controls="ui-office">
          <i class="icon-disc menu-icon"></i>
          <span class="menu-title">Offices</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-office">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Create Offices</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Manage Offices</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-clearance" aria-expanded="false" aria-controls="ui-clearance">
          <i class="icon-command menu-icon"></i>
          <span class="menu-title">Clearance</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-clearance">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Apply Clearance</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Manage Clearance</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="pages/icons/feather-icons.html">
          <i class="icon-help menu-icon"></i>
          <span class="menu-title">Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#basicModal" style="cursor: pointer;">
          <i class="icon-inbox menu-icon"></i>
          <span class="menu-title">Logout</span>
        </a>
      </li>

    </ul>
  </nav>