{% load static %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Regal Admin</title>
<!-- base:css -->
<link rel="stylesheet" href="{% static 'backend/vendors/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'backend/vendors/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'backend/vendors/base/vendor.bundle.base.css' %}">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet" href="{% static 'backend/vendors/flag-icon-css/css/flag-icon.min.css' %}"/>
<link rel="stylesheet" href="{% static 'backend/vendors/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'backend/vendors/jquery-bar-rating/fontawesome-stars-o.css' %}">
<link rel="stylesheet" href="{% static 'backend/vendors/jquery-bar-rating/fontawesome-stars.css' %}">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="{% static 'backend/css/style.css' %}">
<!-- endinject -->
<link rel="shortcut icon" href="{% static 'backend/images/favicon.png' %}" />
