{% load static %}

<nav class="navbar navbar-dark bg-dark">
    <a class="logo" href="index.html"><img src="{% static 'frontend/images/logo.png' %}"></a>
    {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample01">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item">
             <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="blog.html">Blog</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="client.html">Client</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
       </ul>
    </div> {% endcomment %}
 </nav>