{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% block nav %}{% include 'partials/auth_nav.html' %}{% endblock nav %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'partials/auth_sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% include "partials/messages.html" %}
          <div class="row">
            <div class="col-sm-12 mb-4 mb-xl-0">
              <h4 class="font-weight-bold text-dark">Hi, welcome back {{ request.user.name }}!</h4>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Customers</h4>
                  <p>23% increase in conversion</p>
                  <h4 class="text-dark font-weight-bold">43,981</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Customers</h4>
                  <p>23% increase in conversion</p>
                  <h4 class="text-dark font-weight-bold">43,981</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Customers</h4>
                  <p>23% increase in conversion</p>
                  <h4 class="text-dark font-weight-bold">43,981</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Customers</h4>
                  <p>23% increase in conversion</p>
                  <h4 class="text-dark font-weight-bold">43,981</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% block footer %}{% include 'partials/auth_footer.html' %}{% endblock footer %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
{% include 'partials/modal_logout.html' %}
{% block script %}{% include 'partials/auth_script.html' %}{% endblock script %}

{% endblock body %}
