{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% block nav %}{% include 'partials/auth_nav.html' %}{% endblock nav %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'partials/auth_sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% include "partials/messages.html" %}
          <div class="row">
            <div class="col-sm-12 mb-4 mb-xl-0">
              <h4 class="font-weight-bold text-dark">Hi, welcome back {{ request.user.name }}!</h4>
            </div>
          </div>
          <div class="row mt-3">

            {% if request.user.user_type.user_type == "Admin" %}

            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Students</h4>
                  <p>Total number of students</p>
                  <h4 class="text-dark font-weight-bold">{{student}}</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Office</h4>
                  <p>Total registered office users</p>
                  <h4 class="text-dark font-weight-bold">{{office}}</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Clearance</h4>
                  <p>Total completed clearance</p>
                  <h4 class="text-dark font-weight-bold">{{completed}}</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Clearance</h4>
                  <p>Total applied clearance</p>
                  <h4 class="text-dark font-weight-bold">{{applied}}</h4>
                </div>
              </div>
            </div>
            {% elif request.user.user_type.user_type == "Office" %}
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Approved</h4>
                  <p>Total clearance approved</p>
                  <h4 class="text-dark font-weight-bold">{{approve}}</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Disapprove</h4>
                  <p>Total clearance disapproved</p>
                  <h4 class="text-dark font-weight-bold">{{disapprove}}</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Clearance</h4>
                  <p>Total clearance applied</p>
                  <h4 class="text-dark font-weight-bold">{{applied}}</h4>
                </div>
              </div>
            </div>
            {% elif request.user.user_type.user_type == "Student" %}
            <div class="col-sm-12 col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Status</h4>
                  <p>Status of clearance</p>
                  <h4 class="text-dark font-weight-bold">{{status}}</h4>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% block footer %}{% include 'partials/auth_footer.html' %}{% endblock footer %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
{% include 'partials/modal_logout.html' %}
{% block script %}{% include 'partials/auth_script.html' %}{% endblock script %}

{% endblock body %}
