{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Update Students{% endblock title %}

{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% block nav %}{% include 'partials/auth_nav.html' %}{% endblock nav %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'partials/auth_sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% include "partials/messages.html" %}
          <div class="row">

            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Default form</h4>
                  <p class="card-description">
                    Basic form layout
                  </p>
                  <form class="forms-sample" method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% block footer %}{% include 'partials/auth_footer.html' %}{% endblock footer %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

    <!-- Modal Student -->
    <div class="modal fade" id="single" style="display: none;" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create a Student</h5>
            <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
            </button>
          </div>
          <form method="POST" enctype="multipart/form-data">
            <div class="modal-body">
              Fill the form below to create a single <code>student profile</code>
              {{ form1|crispy }}
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                {% csrf_token %}
              <button type="submit" name="single" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Multiple -->
    <div class="modal fade" id="multiple" style="display: none;" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create a Student</h5>
            <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
            </button>
          </div>
          <form method="POST" enctype="multipart/form-data">
            <div class="modal-body">
              Fill the form below to create student from a <code>file</code>
              {{ form2|crispy }}
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                {% csrf_token %}
              <button type="submit" name="multiple" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

{% include 'partials/modal_logout.html' %}
{% block script %}{% include 'partials/auth_script.html' %}{% endblock script %}

{% endblock body %}
