{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Update Office{% endblock title %}

{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% block nav %}{% include 'partials/auth_nav.html' %}{% endblock nav %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'partials/auth_sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% include "partials/messages.html" %}
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit administrative office information</h4>
                  <p class="card-description">
                    Modify the form below to change administrative office Information, click the delete button to delete office account
                  </p>

                  <form class="forms-sample" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="button" class="btn btn-danger mr-2" data-toggle="modal"
                    data-target="#basicModal">Delete</button>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>

                  <div class="modal fade" id="basicModal" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete Confirmation</h5>
                                <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                </button>
                            </div>
                            <div class="modal-body">Are you sure you want to delete {{ object.name }} account?.</div>
                            <div class="modal-footer">
                              <form action="{% url 'auth:delete_office' object.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                              </form>
                              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% block footer %}{% include 'partials/auth_footer.html' %}{% endblock footer %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

{% include 'partials/modal_logout.html' %}
{% block script %}{% include 'partials/auth_script.html' %}{% endblock script %}

{% endblock body %}
